/* STYLE FOR YOUR INDEX.HTML */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b102d;
  padding: 10px 20px;
  color: rgb(158, 115, 164);
}

a {
  color: rgb(225, 161, 66);
  text-decoration: none;
  justify-content: space-between;
}

.btn2{
  font-family: klaristha-bold;
  font-size: 25px;
  background-color:rgb(225, 161, 66) ;
  color: #2b102d ;
  border-radius: 3px;
 }

  .btn3{
  font-family: klaristha-bold;
  font-size: 25px;
  background-color:rgb(225, 161, 66) ;
  color: #2b102d ;
  border-radius: 3px;
  }


.logo {

  font-size: 24px;
  font-weight: bold;
  font-family: klaristha;
}

.pulse {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.75);
    }
  }



      body {
        background: #AA405B;
        background: linear-gradient(90deg,rgba(170, 64, 91, 1) 0%, rgba(38, 11, 44, 1) 100%, rgba(119, 69, 168, 1) 100%);
        margin: 0;
        font-family: wondershine;
        font-weight: bold;
        align-items: center;
        justify-content: space-around;
      }
  
      .btn1{
        display: block;
        padding: 15px 30px; 
        margin: 5% auto;
        width: 300px;
        border: 3px dotted rgb(221, 151, 81);
        border-radius: 10px;
        color: white;
        background: rgb(51, 24, 64);
        font-family: wondershine;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.5s;
    }

.btn1:hover{
      background: rgb(130, 40, 85); 
      color: rgb(255, 255, 255);
      border: 3px solid rgb(221, 151, 81);
      font-size: 24px;
  }
  
.btn1:active{
      transform: rotate(20deg);
  }
  
  .btn2:hover{
    background: rgb(130, 40, 85); 
    color: rgb(255, 255, 255);
    border: 3px solid rgb(221, 151, 81);
    font-size: 24px;
}

.btn3:hover{
  background: rgb(130, 40, 85); 
  color: rgb(255, 255, 255);
  border: 3px solid rgb(221, 151, 81);
  font-size: 24px;
}


  .flex-container{
      display: flex;
      width: 100vw;
      height: 50vh;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

  .flex-tile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
    padding-bottom: 50px;
  }
  

  }

  .img-2{
    width: 100%;
  }
  

    
    



  
  
      